extends layout

block content
  // About Content
  section.about-info
    h1.center-title About Info
    p.center-text Learn more about our history and commitment to quality.
    p
          | Welcome to CakeryGarden! We are passionate about creating delightful cake experiences for all occasions.
        p
          | With a team of skilled bakers and decorators, we take pride in crafting the most delicious and visually appealing cakes that are perfect for birthdays, weddings, anniversaries, and more.
        p
          | Our commitment to quality ingredients and attention to detail ensures that every cake we deliver brings a smile to your face. Whether you're celebrating a special milestone or simply craving a sweet treat, we have a cake for you.
        p
          | Thank you for choosing CakeryGarden as your go-to destination for scrumptious cakes delivered right to your doorstep.