extends layout

block content
  // About Content
  section.about-info
    h1.center-title About Info
    p.center-text Learn more about our history and commitment to website.
    p
          | Welcome to Your Weather Forecast, your go-to destination for accurate and up-to-date weather information. We're dedicated to providing you with reliable forecasts, so you can plan your day with confidence.
        p
          | Our team of meteorologists and weather enthusiasts work around the clock to bring you the latest weather conditions, forecasts, and climate data. Whether you're checking the daily forecast or preparing for a long journey, we've got you covered.
        p
          | Stay informed and stay prepared with Your Weather Forecast. Explore our easy-to-use platform and discover the power of weather knowledge.
        p
          | Thank you for choosing Weatherpulse as your go-to destination for scrumptious Weather knowledge.